{require_otp_vsn, "17"}.
{eunit_opts, []}.

{erl_opts, [fail_on_warning, debug_info, no_warn_unused_function]}.
{cover_enabled, true}.
{cover_print_enabled, false}.
{edoc_opts, [{dialyzer_specs, all}]}.

{deps, [
        {msgpack, ".*",
          {git, "git://github.com/msgpack/msgpack-erlang.git", "master"}},
        {jsx, ".*",
          {git, "https://github.com/talentdeficit/jsx.git", "master"}}
       ]}.
